apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: pihole-ingress
  namespace: pi-hole
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
spec:
  ingressClassName: traefik-internal-gw
  rules:
  - host: pi-hole.home.arpa
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: pihole-service
            port:
              number: 80
  tls:
  - hosts:
    - pi-hole.home.arpa # Must match the host above and in Pi-Hole DNS settings
    secretName: home-arpa-tls
