apiVersion: v1
kind: PersistentVolume
metadata:
  name: traefik-pv
  namespace: traefik
  labels:
    app: traefik
spec:
  capacity:
    storage: 1Gi
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  # TODO: Replace with TrueNAS storage once ready.
  hostPath:
    path: /mnt/data/traefik
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-pvc
  namespace: traefik
spec:
  accessModes:
  - ReadWriteOnce
  storageClassName: truenas-iscsi-csi
  resources:
    requests:
      storage: 2Gi
