apiVersion: v1
kind: PersistentVolume
metadata:
  name: traefik-pv
  namespace: traefik
  labels:
    app: traefik
spec:
  capacity:
    storage: 1Gi
  accessModes:
  - ReadWriteOnce
  volumeMode: Filesystem
  persistentVolumeReclaimPolicy: Retain
  # TODO: Replace with TrueNAS storage once ready.
  # This temporary path stores Pi-hole gravity.db and config.
  hostPath:
    path: /mnt/data/traefik
    type: DirectoryOrCreate
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: traefik-pvc
  namespace: traefik
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeMode: Filesystem
  selector:
    matchLabels:
      app: traefik
